body{
    background-color: yellowgreen;
}
.howilovepizza1{
    background-color: red;
}
.howilovepizza2{
    background-color: yellow;
}
.howilovepizza3{
    background-color: chartreuse;
}
.howilovepizza4{
    background-color: blue;
}